.home-container {
    display: flex;
}
.name-header {
    margin: 0;
    padding: 2em 0;
    
    font-size: 3em;
    color: #3d3d3d;
}
.text-container {
    flex-basis: 50%;
}
.text-keyword {
    color: #00dd00;
}
