/* index.js */
/* Desktop */
.profile-pictures-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1025px) {
}
/* Mobile */
@media screen and (max-width: 480px) {
    .profile-pictures-container {
        display: initial;
        flex-wrap: initial;
        justify-content: initial;
    }
}

/* ProfilePictureItem.js */
/* Desktop */
.profile-container {
    text-align: center;
    position: relative;
    margin: 1.844em;
}
.profile-picture-image {
    border-radius: 100%;
    max-height: 15.69em;
}
.lab-about-img {
    width: 238px;
    height: 385px;
}
.pp-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
}
.profile-container:hover .overlay {
    opacity: 1;
}
.profile-container:hover .pp-overlay {
    opacity: 1;
}
.profile-container:hover > .profile-picture-image {
    filter: brightness(60%);
}
.profile-container:hover > .lab-about-img {
    filter: brightness(60%);
}
.bio {
    text-align: left;
    position: absolute;
    top: 43%;
    left: 45%;
    width: 70%;
    transform: translate(-50%, -50%);
}
.bio-alt {
    text-align: left;
    position: absolute;
    top: 12%;
    left: 50%;
    width: 222px; /* 238 - 2 * 8 (either side) */
    transform: translate(-50%, -50%);
}
.name {
    font-size: 2.313em;
    font-weight: bold;
}
.lab-name {
    font-size: 2.313em;
    font-weight: bold;
}
.dash {
    font-size: 2.313em;
}
.major {
    font-size: 1.33em;
}
.subheader {
    font-size: .875em;
}
.position {
    font-size: 1.33em;
}
/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1025px) {
    .profile-container {
        margin: 1.1565em;
    }
    .profile-picture-image {
        max-height: 12.313em;
    }
    .lab-about-img {
        width: 207px;
        height: 385px;
    }
    .bio-alt {
        width: 191px; /* 207 - 2 * 8 (either side) */
    }
    .name {
        font-size: 1.438em;
    }
    .lab-name {
        font-size: 2.313em;
    }
    .dash {
        font-size: 1.438em;
    }
    .major {
        font-size: .875em;
    }
    .position {
        font-size: .875em;
    }
}
/* Tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {
}
/* Mobile */
@media screen and (max-width: 480px) {
    .profile-container {
        margin: .438em;
    }
    .lab-about-img {
        width: 207px;
        height: 385px;
    }
    .bio-alt {
        width: 191px; /* 207 - 2 * 8 (either side) */
    }
    .lab-name {
        font-size: 2.313em;
    }
}
/* Mobile */
@media screen and (min-width: 400px) and (max-width: 479px) {
    .pp-overlay {
        max-width: 15.69em;
        left: 18%;
    }
}
/* Mobile */
@media screen and (max-width: 399px) {
    .pp-overlay {
        max-width: 15.69em;
        left: 10%;
    }
}
