/* index.js */
/* Desktop */
.about-container {
    display: grid;
    padding: 0 5.938em;
    grid-template-columns: 48.86% 51.14%;
}
.about-left {
    grid-column: 1;
}
.about-right {
    grid-column: 2;
}
.about-img {
    /* 2.750em - 1.438em (default top margin relative to 1.438em font-size on <p> */
    padding-bottom: 1.312em;
}
.about-desc {
    font-size: 1.438em;
    /* 2.565em - 1em (default bottom margin relative to 1em font-size on <p> */
    padding-bottom: 1.565em;
}
.about-desc a {
    color: #49ea7f;
    font-weight: inherit;
}
.about-desc a:hover {
    text-decoration: underline;
}
.about-contact {
    font-size: 2.313em;
    font-weight: bold;
    padding-bottom: 1.595em;
}
.about-contact a {
    color: #49ea7f;
    font-weight: inherit;
}
.about-contact a:hover {
    text-decoration: underline;
}
.about-contact p {
    margin-top: 0;
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1025px) {
    .about-container {
        padding: 0 1.250em;
        grid-template-columns: auto;
    }
    .about-img {
        padding-bottom: 0.875em;
    }
}

/* Tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .about-right {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    .about-container {
        grid-template-columns: auto;
        padding: 0 .875em;
    }
    .about-wrapper {
        padding-right: 4.813em;
    }
    .about-right {
        display: none;
    }
    .about-img {
        width: 100%;
    }
    .about-desc {
        font-size: 0.875em;
    }
    .about-contact {
        font-size: 1.438em;
    }
}
