/* Desktop, Tablet */
.uconn-logo{
    width: 3.681em;
    padding-top: 2.3em;
}
.header-name {
    margin: 0;
    padding-top: .17em;
    padding-bottom: 2em;
    font-size: 3.69em;
}
/* Mobile */
@media screen and (min-width: 361px) and (max-width: 480px) {
    .header-container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 2.313em;
    }
    .header-name {
        font-size: 2.313em;
    }
}
/* Mobile 2 */
@media screen and (max-width: 360px) {
    .uconn-logo{
        width: 3.181em;
    }
    .header-container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 2.313em;
    }
    .header-name {
        padding-left: .25em;
        text-align: right;
        font-size: 1.813em;
    }
}
