/* Desktop, Tablet */
.uconn-logo{
    width: 3.681em;
    padding-top: 2.3em;
}
.header-name {
    margin: 0;
    padding-top: .17em;
    padding-bottom: 2em;
    font-size: 3.69em;
}
/* Mobile */
@media screen and (max-width: 480px) {
    .header-container {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 2.313em;
    }
    .header-name {
        font-size: 2.313em;
    }
}
