/* index.js */
/* Desktop */
.reading-container {
    padding: 0 5.938em;
}
/* NowReading.js */
/* Desktop */
.books-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book {
    display: flex;
    padding: .5em;
}
.right {
    max-width: 24.5em;
    max-height: 14.2em;
    padding-left: .7em;
    overflow: overlay;
}
.header {
    padding-top: 1.25em;
    padding-bottom: 0.391em;
    font-size: 1.438em;
    font-weight: bold;
    text-transform: uppercase;
}
.now-reading-img {
    width: 9.4em;
    height: 14.2em;
    padding-right: .7em;
}
.title {
    font-size: 2.31em;
    font-weight: bold;
}
.author-isbn {
    padding: .35em 0;
    display: flex;
    justify-content: space-between;
    font-size: .87em;
}
.description {
    font-size: .87em;
}
/* PastReading.js */
/* Desktop */
.past-reading-img {
    width: 9.4em;
    height: 14.2em;
    padding-right: 1.063em;
    padding-bottom: .875em;
}
.past-reading-container {
    padding-bottom: 3.688em;
}
/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1025px) {
    .reading-container {
        padding: 0 1.250em;
    }
}
/* Mobile */
@media screen and (max-width: 480px) {
    .reading-container {
        padding: 0 .875em;
    }
    .books-wrapper {
        justify-content: initial;
        padding-right: 4.813em;
    }
    .right {
        display: none;
    }
    .now-reading-img {
        width: 100%;
        height: 100%;
        max-width: 314px;
    }
    .past-reading-img {
        padding-right: 0.938em;
        width: calc(50% - 2 * .875em);
        object-fit: cover;
    }
}
