.reading-container {
    /* flex-basis: 50%; */
    min-height: 100vh;
}
.name-header {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1.7em;
    font-size: 3.69em;
}
.books-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book {
    display: flex;
    padding: .5em;
}
.right {
    max-width: 24.5em;
    max-height: 14.2em;
    padding-left: .7em;
    overflow: hidden;
}
.header {
    padding-top: 1.25em;
    padding-bottom: .4em;
    font-size: 1.44em;
    font-weight: bold;
    text-transform: uppercase;
}
.now-reading-img {
    width: 9.4em;
    height: 14.2em;
    padding-right: .7em;
}
.past-reading-img {
    width: 9.4em;
    height: 14.2em;
    padding-right: .7em;
    padding-bottom: .88em;
}
.title {
    font-size: 2.31em;
    font-weight: bold;
}
.author-isbn {
    padding: .35em 0;
    display: flex;
    justify-content: space-between;
    font-size: .87em;
}
.description {
    font-size: .87em;
}