/* index.js */
/* Desktop */
.lab-container {
    min-height: 100%;
}
.first-container {
    padding: 0 5.938em;
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100vh;
}
.second-container {
    min-height: 100vh;
}
.third-container {
    padding-left: 11.25em;
    padding-right: 5.875em;
    height: 115vh;
}
.third-container-wrapper {
    display: flex;
    justify-content: space-evenly;
}
.fourth-container {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 5.875em;
    padding-top: 18.69em;
    min-height: 100vh;
}
.left-half {
    grid-column: 1;
}
.right-half {
    grid-column: 2;
}
.lab-header-container {
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding-top: 3.7em;
}
.lab-header-container-fourth {
    display: flex;
    align-self: center;
    justify-content: flex-end;
    padding-top: 3.7em;
}
.lab-header-name {
    text-align: right;
    font-size: 3.69em;
    font-weight: bold;
    display: none;
}
.half:first-child {
    padding-right: 1.375em;
}
.lab-first-container {
    flex-basis: 33.33%;
}
.lab-second-container {
    flex-basis: 33.33%;
}
.lab-third-container {
    flex-basis: 33.33%;
}
.half-1st-text {
    padding-top: 10.75em;
}
.text-keyword {
    color: #49ea7f;
}
.uconn-logo-lab {
    width: 95px;
    height: 20px;
}
.landing-description {
    font-size: 1.438em;
}
.landing-description a {
    color: #49ea7f;
    font-weight: inherit;
}
.landing-description a:hover {
    text-decoration: underline;
}
.landing-description p {
    margin-top: 0;
}
.bottom-description {
    padding-top: 5.189em;
    font-weight: bold;
    font-size: 2.313em;
}
.bottom-description a {
    color: #49ea7f;
    font-weight: inherit;
}
.bottom-description a:hover {
    text-decoration: underline;
}
.bottom-description p {
    margin: 0;
}
.lab-description {
    padding: 1.556em 1.92em 0 1.92em;
    font-size: 1.125em;
}
.lab-description a {
    color: #49ea7f;
    font-weight: inherit;
}
.lab-description a:hover {
    text-decoration: underline;
}
.lab-description p {
    margin-top: 0;
}
.lab-description p:last-child {
    margin-bottom: 0;
}
.left-image-spacing {
    padding-top: 3.906em;
}
.center-image-spacing {
    padding-top: 18.063em;
}
.right-image-spacing {
    padding-top: 27.063em;
}
.lab-show-menu {
    display: none
}
/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1025px) {
    .first-container {
        padding: 0 1.250em;
    }
    .third-container {
        padding: 0 1.250em;
    }
    .fourth-container {
        padding: 16.69em 1.250em 0 1.250em;
    }
    .uconn-logo-lab {
        width: 59px;
        height: 12px;
    }
    .lab-description {
        padding: 1.556em 0 0 0;
    }
    .left-image-spacing {
        padding-top: 3.4685em;
    }
    .center-image-spacing {
        padding-top: 19.063em;
    }
    .right-image-spacing {
        padding-top: 25.063em;
    }
}
/* Tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .first-container {
        grid-template-columns: auto;
    }
    .fourth-container {
        padding-top: 0;
        grid-template-columns: auto;
    }
    .right-half {
        display: none;
    }
    .lab-header-name {
        display: initial;
    }
    .lab-first-container {
        flex-basis: 50%;
    }
    .lab-second-container {
        display: none;
    }
    .lab-third-container {
        flex-basis: 50%;
    }
    .lab-description {
        padding: 3.556em 1.25em 0 0;
    }
    .left-image-spacing {
        display: none;
    }
    .right-image-spacing {
        padding-top: 10em;
    }
    .half-1st-text {
        width: 73.6%;
    }
    .bottom-description {
        padding-top: 3.270em;
        width: 73.6%;
    }
    .lab-show-menu {
        display: initial;
    }
}
/* Mobile */
@media screen and (max-width: 480px) {
    .first-container {
        padding: 0 1.250em;
        grid-template-columns: auto;
    }
    .landing-description {
        font-size: .875em;
    }
    .second-container {
        padding: 0 .813em;
    }
    .third-container {
        padding: 0 1.250em;
        height: 100vh;
    }
    .fourth-container {
        padding: 0 .875em;
        grid-template-columns: auto;
    }
    .right-half {
        display: none;
    }
    .lab-header-container-fourth {
        padding-top: 16em;
    }
    .lab-header-name {
        font-size: 2.313em;
        display: initial;
    }
    .uconn-logo-lab {
        width: 59px;
        height: 12px;
    }
    .half-1st-text {
        width: 73.6%;
        padding-top: 5.188em;
    }
    .bottom-description {
        width: 73.6%;
        padding-top: 13.375em;
        font-size: 1.438em;
    }
    .lab-first-container {
        flex-basis: 100%;
    }
    .lab-second-container {
        display: none;
    }
    .lab-third-container {
        display: none;
    }
    .lab-description {
        padding: 4.625em 0 0 0;
    }
    .left-image-spacing {
        padding-top: 2.313em;
    }
    .bottom-description {
        padding-top: 3.217em;
        padding-bottom: 9.478em;
    }
    .lab-show-menu {
        display: initial;
    }
}
