/* index.js */
/* Desktop */
.lab-container {
    min-height: 100%;
}
.first-container {
    padding: 0 5.938em;
    display: flex;
    min-height: 100vh;
}
.second-container {
    min-height: 100vh;
}
.third-container {
    padding-left: 11.25em;
    padding-right: 5.875em;
    display: flex;
    justify-content: space-evenly;
    height: 115vh;
}
.fourth-container {
    display: flex;
    align-items: center;
    padding: 0 5.875em;
    padding-top: 18.69em;
    min-height: 100vh;
}
.left-half {
    flex-basis: 50%;
}
.right-half {
    flex-basis: 50%;
}
.half:first-child {
    padding-right: 1.375em;
}
.lab-first-container {
    flex-basis: 33.33%;
}
.lab-second-container {
    flex-basis: 33.33%;
}
.lab-third-container {
    flex-basis: 33.33%;
}
.half-1st-text {
    padding-top: 10.75em;
}
.text-keyword {
    color: #49ea7f;
}
.uconn-logo-lab {
    width: 95px;
    padding-top: 3.7em;
}
.landing-description {
    font-size: 1.438em;
}
.landing-description a {
    color: #49ea7f;
    font-weight: inherit;
}
.landing-description a:hover {
    text-decoration: underline;
}
.landing-description p {
    margin-top: 0;
}
.bottom-description {
    font-weight: bold;
    font-size: 2.313em;
}
.bottom-description a {
    color: #49ea7f;
    font-weight: inherit;
}
.bottom-description a:hover {
    text-decoration: underline;
}
.bottom-description p {
    margin: 0;
}
.lab-description {
    padding: 9.875em 1.92em 0 1.92em;
    font-size: 1.125em;
}
.lab-description a {
    color: #49ea7f;
    font-weight: inherit;
}
.lab-description a:hover {
    text-decoration: underline;
}
.lab-description p {
    margin-top: 0;
}
.lab-description p:last-child {
    margin-bottom: 0;
}
.left-image-spacing {
    padding-top: 1.906em;
}
.center-image-spacing {
    padding-top: 27.344em;
}
.right-image-spacing {
    padding-top: 31.031em;
}
/* Tablet */
@media screen and (min-width: 481px) and (max-width: 1025px) {
    .first-container {
        padding: 0 1.250em;
    }
    .third-container {
        padding: 0 1.250em;
    }
    .fourth-container {
        padding: 16.69em 1.250em 0 1.250em;
    }
    .lab-description {
        padding: 9.875em 0 0 0;
    }
    .left-image-spacing {
        padding-top: 3.4685em;
    }
    .center-image-spacing {
        padding-top: 26.0315em;
    }
    .right-image-spacing {
        padding-top: 29.7185em;
    }
}
/* Tablet */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .fourth-container {
        padding-top: 0;
    }
    .left-half {
        flex-basis: 73.63%;
    }
    .right-half {
        display: none;
    }
    .lab-first-container {
        flex-basis: 50%;
    }
    .lab-second-container {
        display: none;
    }
    .lab-third-container {
        flex-basis: 50%;
    }
    .lab-description {
        padding: 6em 1.25em 0 0;
    }
    .left-image-spacing {
        display: none;
    }
    .right-image-spacing {
        padding-top: 16em;
    }
}
/* Mobile */
@media screen and (max-width: 480px) {
    .first-container {
        padding: 0 1.250em;
    }
    .landing-description {
        font-size: .875em;
    }
    .second-container {
        padding: 0 .813em;
    }
    .third-container {
        padding: 0 1.250em;
        height: 100vh;
    }
    .fourth-container {
        padding: 0 .875em;
    }
    .left-half {
        flex-basis: 73.63%;
    }
    .right-half {
        display: none;
    }
    .half-1st-text {
        padding-top: 5.188em;
    }
    .bottom-description {
        padding-top: 13.375em;
        font-size: 1.438em;
    }
    .lab-first-container {
        flex-basis: 100%;
    }
    .lab-second-container {
        display: none;
    }
    .lab-third-container {
        display: none;
    }
    .lab-description {
        padding: 9.688em 0 0 0;
    }
    .left-image-spacing {
        padding-top: 2.313em;
    }
}
